*.git
*.idea
*.metadata
*.recommenders
*__pycache__/
*.pyc
BayesianOptimization/logger/results/
BayesianOptimization/test/.cache/
*.settings
*target/
*.project
*.pydevproject
*.log
*.aux
thesis/*.log
thesis/*.toc
thesis/*.pdf
thesis/*.synctex.gz
thesis/*.bbl
thesis/*.blg
thesis/*.out
thesis/*.thm
SPDN.zip
*.classpath