*.git
*.idea
*.metadata
*.recommenders
*__pycache__/
*.pyc
BayesianOptimization/logger/results/
BayesianOptimization/test/.cache/
*.settings
*target/
*.project
*.pydevproject
*.log
Thesis/*.aux
Thesis/*.log
Thesis/*.toc
Thesis/*.pdf
Thesis/*.synctex.gz
Thesis/*.bbl
Thesis/*.blg
SPDN.exe